
<div class="timereportsDays">
  <button mat-raised-button (click)="onCreate()" ><mat-icon>add</mat-icon>Create</button>
  <table class="table table-bordered mat-table" >
    <thead>
    <tr>
      <th>Hours</th>
      <th>Employee</th>
      <th>Project</th>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let timereport of timereports" >
      <td>{{timereport.hours}}</td>
      <td>{{timereport.employeeId}}</td>
      <td> {{timereport.projectId}}</td>
      <td><button class="btn btn-default">Edit</button> <button class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
