
<div class="timereportsDays">
  <div id="addRow"><input class="form-control" type="date" [(ngModel)]="date"><br>
  <input class="form-control" type="number" [(ngModel)]="hours" placeholder="Hours"><br>
    <input class="form-control" type="number" [(ngModel)]="employeeId" placeholder="Employee id"><br>
    <input class="form-control" type="number" [(ngModel)]="projectId" placeholder="Project id"><br>
  <button class="form-control btn btn-success" (click)="createTime()">Add</button></div>
  <table class="table table-bordered table-dark table-striped">
    <thead>
      <tr>
        <th>Day</th>
        <th>Hours</th>
        <th></th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timereport of timereports" >
        <td>{{timereport.date}}</td>
        <td>{{timereport.hours}}</td>
        <td><button class="btn btn-default">Edit</button> <button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
