
<div class="timereportsDays">
  <button mat-raised-button (click)="onCreate()" ><mat-icon>add</mat-icon>Create</button>
  <mat-form-field class="calendarreport">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button class="btn btn-success " (click)="searchWithDate()">Search</button>
  <table class="table table-bordered mat-table timereportsTable" >
    <thead>
    <tr>
      <th>Hours</th>
      <th>Employee</th>
      <th>Project</th>
      <th>Date</th>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let timereport of timereports" >
      <td>{{timereport.hours}}</td>
      <td>{{timereport.employeeName}}</td>
      <td> {{timereport.projectName}}</td>
      <td> {{timereport.date}}</td>
      <td><button class="btn btn-default" routerLink="/edit" id="{{timereport.id}}" (click)="editTimereport(timereport.id)">Edit</button> <button class="btn btn-danger" (click)="deleteTimereport(timereport.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
