.employeeTable{
  margin:0 auto;
  margin-top: 150px;
  width: 1000px;
}
.edit-button{
  margin-right: 20px;
}
.edit-btn{
  text-align: center;
  width: 20px;
  height: 25px;
  margin-right: 5px;
}
.remove-btn{
  text-align: center;
  width: 20px;
  height: 25px;
}
thead{
  background-color: orangered;
  color: Black;
}
th{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tr{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icons{
  font-size: 10px;
  text-align: center;
  top: -4px;
  right: 4px;
  
}
.reports{
  margin-left: 5px;
  height: 25px;
  position: relative;
  text-align: center;
  padding-top: 0px;
}