<div class="navbar" *ngIf="isLogin">
  <a href="#login" routerLink="/logout" routerLinkActive="active" class="pull-right">Logout</a>
  <a href="#timereports" routerLink="/timereport" routerLinkActive="active">Timereport</a>
</div>
<div class="navbar" *ngIf="!isLogin">
  <a href="#login" routerLink="/login" routerLinkActive="active" class="pull-right">Login</a>
</div>
  <form class="login-form" >
      <h1 class="login-title">
      Please log in!
    </h1>
    <p [(ngModel)]="message" id="messagelogin" name="message" class="text-danger" ngDefaultControl>{{message}}</p>
    <div class="form-field">
      <label class="col-form-label">Username: </label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="username">
    </div>
    <br>
    <div class="form-field">
      <label>Password: </label>
      <input  placeholder="password" type="password" name="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <br>
    <button class="btn btn-success form-control" type="submit" (click)="loginUser()">Log in</button><br><br>
  </form>
