/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@material/dialog/dist/mdc.dialog.css";
body {
  background-color: gainsboro;
  background-repeat: no-repeat;
  background-size: 100%;
}


